h3 Vapor Public Offer
a.btn-nav( data-target="main|boards|board:boards.#{key}" ) See Board
          
br
br

span.public-offer-description
  strong Vapor
  |  is offering 
  strong 20%
  |  ownership for 
  strong 100k USD

br
br

button(
  onclick='window.takeOffer("#{key}")'
) Take Offer